* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  background-image: url("/background.images/space.jpg");
  background-size: contain;
  font-family: "Zen Dots", cursive;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
