.searchContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;

  input {
    background-color: rgba(255, 196, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 8px;
    width: 320px;
    height: 40px;
    border: 0;
    font-family: inherit;
    border-radius: 20px;
    margin-right: 5px;
    text-align: center;
  }
}
