.listbuttons {
  display: flex;
  justify-content: space-between;
  width: 233px;

  button {
    font-family: inherit;
    font-size: 18px;
    color: #ffc500;
    border: none;
    background: transparent;
  }
}
